.fairytale__title {
  margin: 0;
  margin-bottom: calc(var(--index) * 2);
  font-size: calc(var(--index) * 1.5);
  letter-spacing: calc(var(--index) / 2.5);
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 10px #f7bb7e;
}
