.layers__text {
  z-index: 3;
  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  transition: var(--transition);
  will-change: transform;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
  text-shadow: 0 0 10px #f7bb7e;
  margin-top: calc(var(--index) * -5.5);
}
