.header {
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  z-index: 100;
  width: 100%;
  height: calc(var(--index) * 28);
  background-image: url(../../../images/fir_trees.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  bottom: calc(var(--index) * -3);
}
